body {
  padding: 20px;
}

header {
  padding: 20px;
}

main {
  min-height: 80vh;
}

.flex {
  display: flex;
}

.headerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
